{% extends 'back/base.html' %}
{% load static %}
{% block content  %}


        <div id="page-content">
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>error<br><small>{{ error }}</small>
                                </h1>
                            </div>
                        </div>
        </div>
                        <!-- END Datatables Header -->

                        <!-- Datatables Content -->

                                    <!-- END Form Elements Title -->


{% endblock %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}