{% extends 'back/base.html' %}
{% load static %}
{% block headblock %}
  {#<script src="{% static 'ckeditor/ckeditor.js' %}"></script>  #}
       <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
   {#<script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>  #}

{% endblock %}
{% block content  %}


        <div id="page-content">
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Group<br><small>you can edit and delete your data</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>group</li>
                            <li><a href="/manager_group">Add</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                        <!-- Datatables Content -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">

                                        <h2><strong>group</strong>Add</h2>
                                    </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{% url 'manager_group_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="name" name="name" class="form-control" placeholder="group name" required>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
        </div>

        </div>
     <div class="block full">
                            <div class="block-title">
                                <h2><strong>group</strong>list</h2>
                            </div>

                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for cc in group %}
                                            <td>{{ cc.name }}</td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="{% url 'groups_perms' name=cc.name %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i>perms</a>
                                                    <a href="{% url 'manager_group_del' name=cc.name %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i>Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

{% endblock %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}