{% extends 'back/base.html' %}
{% load static %}
{% block headblock %}
  {#<script src="{% static 'ckeditor/ckeditor.js' %}"></script>  #}
       <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
   {#<script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>  #}

{% endblock %}
{% block content  %}


        <div id="page-content">
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Trending Add<br><small>you can edit and delete your data</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Trending</li>
                            <li><a href="/Trending_add">Add</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                        <!-- Datatables Content -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">

                                        <h2><strong>Trending</strong>Add</h2>
                                    </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{% url 'trending_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="txt" name="txt" class="form-control" placeholder="trending news">
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
        </div>

        </div>
     <div class="block full">
                            <div class="block-title">
                                <h2><strong>News</strong>list</h2>
                            </div>

                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Title</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for trnd in trendinglist %}
                                        <tr>
                                            <td class="text-center">{{ trnd.pk }}</td>
                                            <td>{{ trnd.txt }}</td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="{% url 'trending_edit' pk=trnd.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i>Edit</a>
                                                    <a href="{% url 'trending_delete' pk=trnd.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i>Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

{% endblock %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}